# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Data
data/

# Images
images/

# Plots
plots/

# Outputs
outputs/

# Excel files
*.xlsx

# CSV files
*.csv

# PDF files
*.pdf

# HTML files
*.html

# PNG files
*.png

# RProject
*.Rproj

# Extra quarto files
scripts/pansolid_cnv_analysis_files/

scripts/cnv_service_audit_files/

scripts/erbb2_validation_files/

scripts/fold_change_threshold_files/

scripts/selecting_wgs_samples_files/

